body {
  margin: 0px;
}
.App {
  max-width: 671px;
  margin: auto;
  text-align: center;
}
.activeManga {
  background-color: #055b5e;
}
.activeManga:focus {
  border: 2px solid #b4813b;
}

.activeChapter {
  background-color: #055b5e;
}

.activeChapter:active {
  border: 2px solid #b4813b;
}
.mangaImg {
  height: 100%;
  object-fit: contain;
  object-position: center center;
  width: 100%;
}
